.titlenews {
    font-family: "Crimson Text", serif;
    color: rgb(1, 31, 91);
    font-size: 48px;
    margin-bottom: 40px;
    font-weight: normal;
    text-align: center;
    max-width: 400px;
    line-height: 1.2;
  }
  
  