.Online_description {
    display: flex;
    /* justify-content: space-between; */
    align-items: center; /* Center content vertically */
    margin: 10px 80px 0 80px; /* Add horizontal margins */
    /* height: 100vh;  Full viewport height */
    font-family: 'Arial', sans-serif; /* Ensure the font matches */
  }
  
  .Online_descContent {
    margin-top: 100px;
    flex: 1;
    max-width: 80%; /* Limit content to half the width */
    padding: 40px; 
  }
  
  .breadcrumb {
    font-size: 1rem; /* Slightly larger breadcrumb text */
    margin-bottom: 20px;
    color: #666; /* Adjust breadcrumb color */
  }
  
  .breadcrumb-item a {
    color: #666; /* Breadcrumb link color */
    text-decoration: none;
  }
  
  .breadcrumb-item.active {
    color: #000; /* Current breadcrumb color */
  }
  
  .Online_descHeading {
    font-size: 3rem; /* Larger heading size */
    font-family: 'EB Garmond', serif;
    font-weight: 200;
    margin-bottom: 25px;
    color: #222; /* Darker color for heading */
    border-left: 5px solid #a00; /* Add a red border line */
    padding-left: 15px;
  }
  
  .Online_descContentText {
    font-size: 23px; /* Larger content text */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5; /* Increased line spacing */
    color: #1d1d1d;
    text-align: justify; /* Align text for better readability */
  }
  