.arts-container{
    margin-top: 150px;
}
.arts-headdisc{
    color: black;
    text-align: center;
    padding: 30px;
    & h2{
        font-size: 3rem;
        font-family: "EB Garamond", serif;
    }
    & p{
        padding-top: 30px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
    }
}

.artsimgcontainer{
    display: flex;
    flex-direction: row;
    gap: 70px;
    padding-left: 150px;
    padding-right: 100px;
}

.imageslide-container{
    height: 800px;
    width: 800px;
    padding-left: 50px;
}

/* Customizing navigation arrows */
.slick-prev:before, .slick-next:before {
    color: black; /* Change arrow color */
    font-size: 20px;
  }
  
  /* Customizing navigation dots */
  .slick-dots li button:before {
    color: lightgray; /* Inactive dot color */
    font-size: 12px;
  }
  
  .slick-dots li.slick-active button:before {
    color: darkred; /* Active dot color */
  }
  